
  <!-- === MAIN Background === -->
    <div class="slide story" id="slide-1" data-slide="1">
      <div class="container">
        <div id="home-row-1" class="row clearfix">
          <div class="col-12">
            <h1 class="font-semibold">CONGRATULATIONS <span class="font-thin"></span></h1>
            <h4 class="font-thin">You  <span class="font-semibold">just made your move to</span> London easy</h4>
            <br>
            <br>
            <a id="go_to_demo" style="padding: 10px 16px; font-size: 22px; line-height: 1.33; border-radius: 6px;" class="btn btn-lg btn-success" href="demo.html">Hope your enjoy your stay!</a>
          </div><!-- /col-12 -->
        </div><!-- /row -->
       
      </div><!-- /container -->
    </div><!-- /slide1 -->