<!-- <div class="container">
<form>
	Name: <input type="text"> </input>
	Surname: <input type="text"> </input>
	From: <input type="text"> </input>
	<a class="btn" href="#/congrats">Done</a>
</form>
</div> -->

<form>
  <fieldset>
    <!-- <legend>About to make the deal</legend> -->
    <label class="col-xs-4" for="inputEmail1"><b>Here is your bucket of awesome stuffs<b></label>
    
    <div class="bs-docs-example">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Provider</th>
                  <th>Saving</th>
                  <th>Cost</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>CityMapper</td>
                  <td>Free</td>
                  <td>Free</td>
                </tr>
                <tr>
                 <td>2</td>
                  <td>Barclays</td>
                  <td>Get £100 free</td>
                  <td>£13</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Monster</td>
                  <td>Free</td>
                  <td>Free</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>GiffGaff</td>
                  <td>£3/months</td>
                  <td>£12</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Renting</td>
                  <td>Get £15 free</td>
                  <td>£13</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>School</td>
                  <td>Free</td>
                  <td>Free</td>
                </tr>
              </tbody>
            </table>
	</div>
<!--     <label>Total saving</label>
    <input type="text" placeholder="Type something…">
    <span class="help-block">Example block-level help text here.</span>
    <label class="checkbox">
      <input type="checkbox"> Check me out
    </label>
    <button type="submit" class="btn">Submit</button> -->
  <!-- </fieldset> -->


</form>

<!-- <div class="input-prepend">
  <span class="add-on">@</span>
  <input class="span2" id="prependedInput" type="text" placeholder="Username">
</div>
<div class="input-append">
  <input class="span2" id="appendedInput" type="text">
  <span class="add-on">.00</span>
</div>
 -->
<div class="container">
  <form role="form">
    <div class="row">
      <label class="col-xs-4" for="inputEmail1">Saving</label>
      <div class="col-xs-8">
        <input type="email" class="form-control" id="inputEmail1" placeholder="£118">
      </div>
    </div>

    <div class="row">
      <label class="col-xs-4" for="inputPassword1">Total cost</label>
      <div class="col-xs-8">
        <input type="password" class="form-control" id="inputPassword1" placeholder="£38">
      </div>
    </div>
  <!--   <div class="row">
      <label class="col-xs-12" for="TextArea">Text Area</label>
    </div> -->
    <!-- <div class="row">
      <div class="col-xs-12">
        <textarea class="form-control" id="TextArea"></textarea>
      </div>
    </div> -->
    <div class="row">
      <label class="col-xs-4" for="inputEmail1">Saving</label>
      <div class="col-xs-8">
        <input type="email" class="form-control" id="inputEmail1" placeholder="£118">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button type="submit" class="btn btn-default">Payment</button>
      </div>
    </div>

  </form>

</div>




